In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("titanic.csv")
print(df.head(5))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [8]:
min_r=df["Age"].min()
max_r=df["Age"].max()
range = max_r-min_r
print(range)

79.58

In [9]:
min_r,max_r

(0.42, 80.0)

In [9]:
import numpy as np
import pandas as pd

sec_a = np.array([75, 65, 73, 6, 72, 76])
df = pd.Series(sec_a)  # Creating Pandas Series

means = np.mean(sec_a)  # Compute mean
mad2 = np.mean(np.abs(sec_a - means))  # Using NumPy

mad1 = df.sub(df.mean()).abs().mean()  # Manually compute MAD in Pandas

print("MAD using Pandas:", mad1)
print("MAD using NumPy:", mad2)

MAD using Pandas: 18.38888888888889
MAD using NumPy: 18.38888888888889

In [11]:
standard_deviation = np.std(sec_a)
print(standard_deviation)

variance = np.var(sec_a)
print(variance)

24.922658142519406
621.1388888888889

In [12]:
df.describe()

count     6.000000
mean     61.166667
std      27.301404
min       6.000000
25%      66.750000
50%      72.500000
75%      74.500000
max      76.000000
dtype: float64