In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

dataset = pd.read_csv("Toyota.csv")
dataset.head(5)

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170

In [23]:
dataset.isnull().sum()

Unnamed: 0      0
Price           0
Age           100
KM              0
FuelType      100
HP              0
MetColor      150
Automatic       0
CC              0
Doors           0
Weight          0
dtype: int64

In [35]:
# ONE HOT ENCODING

dataset["Age"].fillna(dataset["Age"].mode()[0], inplace=True)
dataset["FuelType"].fillna(dataset["FuelType"].mode()[0], inplace=True)
dataset["Doors"].fillna(dataset["Doors"].mode()[0], inplace=True)


# METHOD 1 => pandas.get_dummies()

en_data = dataset[["FuelType","Doors"]]  
df_dummies = pd.get_dummies(en_data,dtype = float)   # by default it give answer in true ad false
print(df_dummies.head())

   FuelType_CNG  FuelType_Diesel  FuelType_Petrol  Doors_2  Doors_3  Doors_4  \
0           0.0              1.0              0.0      0.0      0.0      0.0
1           0.0              1.0              0.0      0.0      1.0      0.0
2           0.0              1.0              0.0      0.0      1.0      0.0
3           0.0              1.0              0.0      0.0      1.0      0.0
4           0.0              1.0              0.0      0.0      1.0      0.0

   Doors_5  Doors_five  Doors_four  Doors_three
0      0.0         0.0         0.0          1.0
1      0.0         0.0         0.0          0.0
2      0.0         0.0         0.0          0.0
3      0.0         0.0         0.0          0.0
4      0.0         0.0         0.0          0.0

In [36]:
# METHOD 2 =>  Using OneHotEncoder from scikit-learn

from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse_output=False)  # Ensure output is an array, not a sparse matrix
ar = ohe.fit_transform(en_data)

# Convert to DataFrame with correct column names
df_ohe = pd.DataFrame(ar, columns=ohe.get_feature_names_out())

# Display result
print(df_ohe.head())

   FuelType_CNG  FuelType_Diesel  FuelType_Petrol  Doors_2  Doors_3  Doors_4  \
0           0.0              1.0              0.0      0.0      0.0      0.0
1           0.0              1.0              0.0      0.0      1.0      0.0
2           0.0              1.0              0.0      0.0      1.0      0.0
3           0.0              1.0              0.0      0.0      1.0      0.0
4           0.0              1.0              0.0      0.0      1.0      0.0

   Doors_5  Doors_five  Doors_four  Doors_three
0      0.0         0.0         0.0          1.0
1      0.0         0.0         0.0          0.0
2      0.0         0.0         0.0          0.0
3      0.0         0.0         0.0          0.0
4      0.0         0.0         0.0          0.0